{% extends 'web/base.html' %}
{% block content %}
    <h2>Аналитика</h2>
    <p>
        Всего <b>{{ overall_stat.count }}</b> приемов пищи за весь период.
        Последний прием пищи в {{ overall_stat.max_date }}.
        Первый прием пищи в {{ overall_stat.min_date }}.
    </p>

    <b>Статистика по дням</b>
    <ul>
        {% for day_stat in days_stat %}
            <li>
                <b>{{ day_stat.date }}</b> –
                {{ day_stat.count }} количество записей,
            </li>
        {% endfor %}
    </ul>
{% endblock %}