<!doctype html>
<html lang="en">
<head>
    <title>Food calculate</title>
</head>
<body>
     <a href="{% url 'main' %}"><h1>Food calculate</h1></a>
    <nav>
        <a href="{% url 'main' %}">Главная страница</a>
       {% if user.is_anonymous %}
            <a href="{% url 'registration' %}">Регистрация</a>
            <a href="{% url 'auth' %}">Авторизация</a>
        {% else %}
            <a href="{% url 'logout' %}">Выход</a>
        {% endif %}
    </nav>
     <hr/>

    {% block content %}{% endblock %}
</body>
</html>